@import '../../../styles/sass/shared';

@mixin area__link($color) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color;
}

@mixin area__link__hover($color) {
  cursor: pointer;
  background: darken($color, 15%);
}

.landing-page__box {
  display: flex;
  overflow: hidden;
  height: 98vh;
  width: 99vw;
  align-items: center;
  justify-content: center;
  background: $turqoise-light;

  .landing-page__container {
    height: 50vw;
    width: 50vw;
    transform-origin: 50% 50%;
    transform: rotateZ(-45deg) scale(5);
    display: grid;
    background: $white;
    grid-template-columns: 78fr 2fr 50fr 2fr 78fr;
    grid-template-rows: 60fr 2fr 18fr 2fr 36fr 2fr 18fr 2fr 60fr;

    @media (min-width: $device-size-m) {
      grid-template-columns: 89fr 1fr 20fr 1fr 89fr;
      grid-template-rows: 68fr 1fr 13fr 1fr 35fr 1fr 13fr 1fr 68fr;
    }

    grid-template-areas:
      'top-dark-triangle      top-dark-triangle      top-dark-triangle         .                         top-light-triangle'
      '.                      .                      .                         .                         top-light-triangle'
      'top-grey-half-triangle top-grey-half-triangle top-grey-half-triangle    .                         top-light-triangle'
      'top-grey-half-triangle top-grey-half-triangle top-grey-half-triangle    .                         .'
      'title                  title                  title                     title                     title'
      '.                      .                      bottom-grey-half-triangle bottom-grey-half-triangle bottom-grey-half-triangle'
      'bottom-light-triangle  .                      bottom-grey-half-triangle bottom-grey-half-triangle bottom-grey-half-triangle'
      'bottom-light-triangle  .  .                         .                         .'
      'bottom-light-triangle  .                      bottom-dark-triangle      bottom-dark-triangle      bottom-dark-triangle';

    @media (min-width: $device-size-l) {
      grid-template-areas:
        'top-dark-triangle      .                     top-light-triangle     top-light-triangle top-light-triangle'
        '.                      .                     top-light-triangle     top-light-triangle top-light-triangle'
        'top-grey-half-triangle .                     top-light-triangle     top-light-triangle top-light-triangle'
        'top-grey-half-triangle .                     .                      .                  .'
        'title                  title                 title                  title              title'
        '.                      .                     .                      .                  bottom-grey-half-triangle'
        'bottom-light-triangle  bottom-light-triangle bottom-light-triangle  .                  bottom-grey-half-triangle'
        'bottom-light-triangle  bottom-light-triangle bottom-light-triangle  .                  .'
        'bottom-light-triangle  bottom-light-triangle bottom-light-triangle  .                  bottom-dark-triangle';
    }

    .landing-page__area__top-dark-triangle {
      grid-area: top-dark-triangle;
      position: relative;

      a.landing-page__link {
        @include area__link($turqoise-dark);

        &:hover {
          @include area__link__hover($turqoise-dark);
        }
      }
    }

    .landing-page__area__top-light-triangle {
      grid-area: top-light-triangle;
      position: relative;

      a.landing-page__link {
        @include area__link($turqoise-light);

        &:hover {
          @include area__link__hover($turqoise-light);
        }
      }
    }

    .landing-page__area__top-grey-half-triangle {
      grid-area: top-grey-half-triangle;
      position: relative;

      a.landing-page__link {
        @include area__link($grey-light);

        &:hover {
          @include area__link__hover($grey-light);
        }
      }
    }

    .landing-page__area__title {
      grid-area: title;
      position: relative;

      a.landing-page__link {
        @include area__link($petrol);

        &:hover {
          @include area__link__hover($petrol);
        }
      }
    }

    .landing-page__area__bottom-light-triangle {
      background: $turqoise-light;
      grid-area: bottom-light-triangle;
      position: relative;

      a.landing-page__link {
        @include area__link($turqoise-light);

        &:hover {
          @include area__link__hover($turqoise-light);
        }
      }
    }

    .landing-page__area__bottom-dark-triangle {
      background: $turqoise-dark;
      grid-area: bottom-dark-triangle;
      position: relative;

      a.landing-page__link {
        @include area__link($petrol);

        &:hover {
          @include area__link__hover($petrol);
        }
      }
    }

    .landing-page__area__bottom-grey-half-triangle {
      grid-area: bottom-grey-half-triangle;
      position: relative;

      a.landing-page__link {
        @include area__link($grey-light);

        &:hover {
          @include area__link__hover($grey-light);
        }
      }
    }
  }
}

.landing-page__floating__box {
  height: calc(100%);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

  .landing-page__title__box {
    position: relative;
    top: 45%;
    left: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media (min-width: $device-size-xs) {
      top: 43%;
    }

    @media (min-width: $device-size-m) {
      top: 40%;
      font-size: $font-size-medium;
    }

    @media (min-width: $device-size-l) {
      top: 40%;
      left: -3%;
    }

    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
      only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 50%;
    }

    .landing-page__title__title {
      display: inline-block;
      color: $white;
      font-family: $font-family-title;
      font-size: 1.1 * $font-size-small;

      @media (min-width: $device-size-xs) {
        font-size: 1.5 * $font-size-small;
      }

      @media (min-width: $device-size-s) {
        font-size: 1.8 * $font-size-small;
      }

      @media (min-width: $device-size-m) {
        font-size: $font-size-medium;
      }

      @media (min-width: $device-size-l) {
        font-size: $font-size-large;
      }
    }

    .landing-page__title__subtitle {
      display: inline-block;
      color: $turqoise-light;
      font-family: $font-family-default;
      font-size: 1.1 * $font-size-base;

      @media (min-width: $device-size-xs) {
        font-size: 1.4 * $font-size-base;
      }

      @media (min-width: $device-size-s) {
        font-size: 1.6 * $font-size-base;
      }

      @media (min-width: $device-size-m) {
        font-size: 0.8 * $font-size-small;
      }

      @media (min-width: $device-size-l) {
        font-size: 1.2 * $font-size-small;
      }
    }
  }

  .landing-page__logo__box {
    height: calc(100%);
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

    .landing-page__logo {
      position: absolute;
      top: 26%;
      left: 75%;
      text-align: center;

      @media (min-width: $device-size-xs) {
        top: 23%;
        left: 80%;
      }

      @media (min-width: $device-size-s) {
        top: 20%;
        left: 80%;
      }

      @media (min-width: $device-size-m) {
        top: 15%;
        left: 80%;
      }

      @media (min-width: $device-size-l) {
        top: 11%;
        left: 70%;
      }

      img {
        width: 70%;
        height: auto;
        border-radius: 50%;
        @media (min-width: $device-size-xs) {
          width: 67%;
        }

        @media (min-width: $device-size-s) {
          width: 63%;
        }

        @media (min-width: $device-size-m) {
          width: 58%;
        }

        @media (min-width: $device-size-l) {
          width: 35%;
        }

        &.scale-up {
          transform: scale(1.15);
          box-shadow: 0 0 10px 10px rgba(0 0 0 / 70%);
        }
      }
    }
  }
}

.landing-page__backdrop {
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0 0 0 / 70%);

  .course-modal__outer-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 150vw;
    perspective-origin: bottom-left;
    z-index: 20;

    .course-modal__container {
      color: $petrol;
      width: 75%;
      height: 80%;
      display: flex;
      flex-direction: column;

      @media (min-width: $device-size-m) {
        max-width: 66rem;
      }

      opacity: 0;

      &.visible {
        opacity: 1;
      }

      .course-modal__content {
        background: rgba($creme, 0.75);
        border: 0.8rem solid $turqoise-dark;
        border-radius: 3rem;
        display: flex;
        text-align: center;
        height: 85%;
        position: relative;

        @media (min-width: $device-size-s) {
          border-width: 1.2rem;
        }

        @media (min-width: $device-size-m) {
          border-width: 1.35rem;
        }

        @media (min-width: $device-size-m) {
          border-width: 1.5rem;
        }

        .course-modal__content__text {
          font-size: 0.85 * $font-size-small;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          padding: 0.5rem;

          @media (min-width: $device-size-s) {
            font-size: 1.3 * $font-size-small;
          }

          @media (min-width: $device-size-m) {
            font-size: 1.5 * $font-size-small;
            padding: 1rem;
          }

          @media (min-width: $device-size-l) {
            font-size: 1.7 * $font-size-small;
          }

          .course-modal__content__link {
            cursor: pointer;
            transition: all 200ms ease-in-out;

            &:hover {
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
}
