@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');

$font-size-base: 1rem;
$font-size-small: 2.3 * $font-size-base;
$font-size-medium: 4.4 * $font-size-base;
$font-size-large: 7 * $font-size-base;
$font-family-title: 'Playfair Display', serif;
$font-family-default: 'Rosario', sans-serif;
